<!DOCTYPE html>
<html>

<head>
  <title>Example Dashboard</title>
  <link rel='stylesheet' href='/reactBundles/component_modules/initial_dashboard/initial_dashboard.css' />
</head>

<body>
  <div>
    <!-- This is where reactjs hooks in-- as defined at ./src/client/InitialDashboard_EntryFile.js
    which is set to compile as shown in ./webpack-config dev & prod files -->
    <div id="react-root"></div>
  </div>
</body>
<script src="/reactBundles/vendor.js"></script>
<script src="/reactBundles/component_modules/initial_dashboard/initial_dashboard.js"></script>
<script> 
</html>